{% extends "base.html" %}
<!--{% load static %}-->


 
{% block content %}

<style>
  .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3EA67C; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 35%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
li {
    list-style-type: none;
}
</style>
<div class="jumbotron text-center">
  <div class="container">
    <!--<a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>-->
    <h1 style="margin-bottom: 40px;font-size: 45px;">Welcome to dashboard {{name}}</h1>
    
   <!-- <p>Manage datasheets, create new ones, track and edit. </p>-->
    <a type="button" class="btn btn-lg btn-default" href="" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Create new repository</a>
    <a type="button" class="btn btn-lg btn-primary" href="/owned/"><span class="glyphicon glyphicon-eye-open"></span> Owned repositoties</a>
   <!-- <a type="button" class="btn btn-lg btn-info" href="/watch/"><span class="glyphicon glyphicon-search"></span> Watch repos</a>-->

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Name the new repository. (Cannot contain white space)</h4>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <input type="text" id="repo_name" name="repo_name" class="form-control" style="max-width: 300px;" placeholder="Type your project's title"> <br>
              <span id="validationMessage" style="display: none; color: rgb(218, 0, 0);">Name already exists</span>
              
              <div class="alert alert-danger" role="alert"  style="display: none">
                Name already exists
              </div>
              <div id="space_alert" class="alert alert-danger" role="alert"  style="display: none">
                Name cannot contain white space
              </div>
              <div class="center"><div class="loader"></div></div>
              

               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="saveModal">Save changes</button>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>
<div class="container">
  
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3> How this web app works</h3>
      
        <p>This project was made to ease the creation of datasheet and data descriptions for datasets used in medical research, especifically machine learning datasets.</p>
        
        <p>You can create these datasheet using forms and templates provided in this system. (You will access the dashboard after creating a repo). You can also edit the owned repositories by clicking on the middle button.</p>
      
    </div>
    <div class="col-md-6">
      <h3><span ></span> Structure of repositories</h3>
      <p>When a new repository gets created the system immediately connect it to a central github account where all the repositories reside. Every repo is compiresed of the following:</p>

      <ul>
        <br>
        <li>1. Purpose</li>
        <li>2. Statistics</li>
        <li>3. Keywords</li>
        <li>4. Context fomr</li>
        <li>5. Figures of 1 and 2</li>
        </ul>
      </ul>
      
    </div>

  </div> <!-- row -->
   


</div>

<script type="module">
  import { Octokit } from "https://cdn.skypack.dev/@octokit/core";
  const octokit = new Octokit({ auth: `ba98060c376542a75c234171d9576de043534a84` });
  const delay = ms => new Promise(res => setTimeout(res, ms));



  $('#myModal').on('hidden.bs.modal', function () {
      // do something…
      $('.alert').hide();
      $('.loader').hide();
      $("#repo_name").val(''); 
  });

  async function create_repo_and_blog(r_name) {
    
    $('.loader').show();
    const response = await octokit.request('POST /repos/{template_owner}/{template_repo}/generate', {
      template_owner: 'PERSIMUNE',
      template_repo: 'MAIDS-Template',
      name: r_name,
      mediaType: {
        previews: [
          'baptiste'
        ]
      }
    })

    await delay(5000);
    console.log(response);


    const response2 = await octokit.request('POST /repos/{owner}/{repo}/pages', {
      owner: 'sinaden',
      repo: r_name,
      source: {
        branch: 'main',
        path: '/docs'
      },
      mediaType: {
        previews: [
          'switcheroo'
        ]
      }
    });

    console.log(response2);
    console.log("should change the url now");
    $('.loader').hide();
    window.location = '/new/'+r_name;
  }

  $("#saveModal").click(function(event){
    console.log(event);
    console.log($("#repo_name").val());

    var rn = $("#repo_name").val();

    rn = rn.trim();
    if (/\s/.test(rn)) {
      $('#space_alert').show();
    // It has any kind of whitespace
    }
    else{
      $('#space_alert').hide();
      var repo_name_var = rn;
      $.ajax({
          url: "/check-repo-name/",
          type: 'POST',
          data: {
              repo_name : $("#repo_name").val(),
              csrfmiddlewaretoken:  $('input[name=csrfmiddlewaretoken]').val()
          },
          success: function(data) {
            console.log("success"); 
            if (data.message === "Repo already exists") {
              $('.alert').show();
              window.location = '/new/'+repo_name_var;
            }else{
              $('.alert').hide();
              create_repo_and_blog(repo_name_var);
            }
            console.dir(data);
            console.log(data);
            }
      })
    }
    


  });
    
  $(document).ready(function() {
    $('.alert').hide();
     // autosize(document.getElementById("id_motivation_1"));
      //alert("fff");

    $('.loader').hide();
  });

</script>
{% endblock %}
