


{% extends "base.html" %}
<!--{% load static %}-->

{% load crispy_forms_tags %}

{%  block content %} 

<style>
  .form-control{
    max-width: 400px;
    
  }

  textarea.form-control{
      height: 100px;
  }

  textarea {
	width:100%;
	box-sizing:border-box;
	display:block;
	max-width:100%;
	line-height:1.5;
	padding:15px 15px 30px;
	border-radius:3px;
	border:1px solid #F7E98D;
	font:13px Tahoma, cursive;
	transition:box-shadow 0.5s ease;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	background:linear-gradient(#F9EFAF, #F7E98D);
	background:-o-linear-gradient(#F9EFAF, #F7E98D);
	background:-ms-linear-gradient(#F9EFAF, #F7E98D);
	background:-moz-linear-gradient(#F9EFAF, #F7E98D);
	background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
}

  b[name*="_title_field"] {
    font-size: 25px;
    font-weight:700 !important;
  }
 
  .text-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
} 
</style>

<div class="container longcontainer">
  {% if error_message %}
  <div class="alert alert-danger text-center" role="alert">
      {{error_message}}      
  </div>
  {% endif%} 
  <br>

  <div class="alert alert-danger text-center" role="alert">
    The subset IDs need to start from 1 and increase by one. (So the first subset has the 1 as its ID, the next one 2, 3 and so on.)
  </div>
  <hr>
  
  
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-education"></span> Statistics </h3> <h4> Description of Subsets and Features of the Dataset</h4>
      <!-- 
        
        <form method="POST" class="form-group">
          {% csrf_token %} 
          {{form|crispy}}
        <button type="submit" class="btn btn-success">Register</button> 

      -->
        <form method="POST">
            
          <div style="margin-bottom: 10px;">
            <button id="add-another" name="subset_submission"  class="btn btn-lg btn-default" >add subset</button>

            <button id="add-feature" name="feature_submission" class="btn btn-lg btn-success" style="background-color: cadetblue;">add feature</button>

          </div>

            <div id="forms">
                {% csrf_token %}
                <!--  {{ form.as_p }}  -->
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                
                {{ form.errors }} 
                {{ form.non_field_errors }}
                {{ form.non_form_errors }}

                {% for field in form.visible_fields %}
                  <div class="form-group">
                   <!-- <button name="delete_{{field.name}}"  class="btn btn-lg btn-default" >delete</button> -->
                   <p style="font-size: 19px;">
                    {% if 'title' in field.name %}
                    <!--<input type="submit" style="background-color: coral; width: 5px; border-radius: 50%; color:transparent;" 
                      class="btn btn-sm" name="delete" value="{{field.name}}" />-->  
                      <div class="text-container" >
                        <input type="submit" style="background-color: rgba(196, 0, 0, 0.582); width: 14px; height: 25px;  border-radius: 30%; color:transparent;" 
                      class="btn btn-sm" name="delete" value="{{field.name}}" />
                        <span class="glyphicon glyphicon-remove" style="right:22px; top:3px; color: white;pointer-events: none;"></span>
                      </div>
                    {% endif%} 
                        <b style="font-weight: normal; font-family:'Playfair Display', 'Times New Roman', Times, serif;" name = {{field.name}}>{{ field.label }} </b> 
                        {{ field.errors }}  {{ field }} 
                      </p>
                  </div>
                    
                {% endfor %}
 
            </div>
            <input type="submit" name="data_submission" class="btn btn-success"/>
        </form>
    <!-- </form> -->
 
  </div> <!-- row -->
</div>

<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

<script type="text/javascript">
    let form_count = Number($("[name=extra_field_count]").val());
    // get extra form count so we know what index to use for the next item.

  //  $('#form_id').submit(function() {
  //    alert("error");
  //    var idLists = $("input[id$='_1']");
  //    if (idLists.size() != 0) {
  //          alert("error");
  //          return false;
  //    }
  //  });


    $("#add-another").click(function() { 
        
   // will also trigger unobtrusive validation only for this element if in place 
   // add your extra logic here to execute only when element is valid
        form_count ++;
              let element = $('<input type="text"/>');
            // element.attr('name', 'extra_field_' + form_count);
            element.attr('name', 'subset_' + form_count);
            console.log("sub");
          //  $("#forms").append(element);
              // build element and append it to our forms container
              
              $("[name=extra_field_count]").val(form_count);
              // increment form count so our view knows to populate 
              // that many fields for validation
  
        
    })

    let form_f_count = Number($("[name=extra_ft_count]").val());


    $("#add-feature").click(function() {
        form_f_count ++;

        let element = $('<input type="text"/>');
       // element.attr('name', 'extra_field_' + form_count);
       element.attr('name', 'feature_' + form_f_count);
       // $("#forms").append(element);
        // build element and append it to our forms container
        
        $("[name=extra_ft_count]").val(form_f_count);
        // increment form count so our view knows to populate 
        // that many fields for validation
    })


        $(document).ready(function() {
            autosize(document.getElementById("id_motivation_1"));

            //alert("fff");

        });
    
</script>


{% endblock %}

