{% extends "base.html" %}
<!--{% load static %}-->

{% block content %}


<div class="container">
  <div class="alert alert-light text-center" role="alert">
    The {{repo_name}} repository made by {{name}},
    Please fill in the following datasheets
    
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-cloud"></span> Datasheet </h3> <h4> Subjective Description of the Dataset</h4>
      <p>The quastionare contains an overal description of the state of the data. This is for preventing biased models, more transparency, helping with creaing synthetic data and many more advantages. </p>
      <ul style="height: 110px;">
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/python-getting-started">Heroku Button</a> on the repository.</li>
        <li>When Heroku received the source code, it fetched all the dependencies in <a href="https://github.com/heroku/python-getting-started/blob/main/requirements.txt">requirements.txt</a>, creating a deployable slug.</li>
      </ul>
      <a type="button" class="btn btn-lg btn-default" href="/new-datasheet/{{repo_name}}"><span class="glyphicon glyphicon-plus"></span> Create </a>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-education"></span> Subsets & Features </h3> <h4> Technical Description of the Dataset</h4>
      <p>The architecture of the dataset, each data is consisted of set of variables knowing the variables and their sources helps with transparency and also speeding up development of models before the data is accisible.  </p>

      <ul style="height: 110px;">
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <br>
        

      </ul>
      <a type="button" class="btn btn-lg btn-default" href="/new-subsetfeature/{{repo_name}}" ><span class="glyphicon glyphicon-plus"></span> Create </a>
      
    </div>
 
  </div> <!-- row -->
   <div class="alert alert-light text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>
{% endblock %}
