{% extends "base.html" %}
<!--{% load static %}-->


 
{% block content %}
<style>
.cntr {
  display: flex;
  justify-content: center;
}

  
  .footer {
        background-image: url(https://raw.githubusercontent.com/sinaden/hc_maids/main/banner.jpg);
        background-position: 50% 100%;
        color: rgb(22, 59, 34);
        padding-top: 30px;
        padding-bottom: 130px;

        position: relative;
        right: 0;
        bottom:0;
        left:0;

    }

    #owned_repos_container{
      padding-bottom: 100px;
    }
</style>

<div class="jumbotron text-center">
  <div class="container">
    <!--<a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>-->
    <h1 style="margin-bottom: 40px;font-size: 45px;">Edit Your Repositories</h1>
    

  </div>
</div>
<div class="container" id="owned_repos_container">
    {% if message %}
    <div class="alert alert-success text-center" role="alert">
        {{message}}      
    </div>
    {% endif%} 
  <hr>
  <div class="row">
    {% for repo in repo_list %}
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading" style="background-color: #98f3ce; border: 0px; padding-bottom: 20px;">
                <h3 class="panel-title" style="display: inline;  font-weight: bold; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Repo: {{repo}}
                  <a type="button" class="btn btn-sm btn-default" style="float:right;" href="{{url}}{{repo}}" target="_blank"><span class="glyphicon glyphicon-edit"></span> View website </a></h3>
                </div>
                <div class="panel-body" style="background-color: #ceffeb;">
                    <div class="text-center">
                        <!--<p style="font-size: 16px;">Repo: {{repo}}</p>-->
                        <br>
                    <a type="button" class="btn btn-md btn-default" style="margin:10px;" href="/new-about/{{repo}}/1"><span class="glyphicon glyphicon-edit"></span> Edit Context</a>
                    <a type="button" class="btn btn-md btn-default" style="margin:10px;" href="/edit-datasheet/{{repo}}"><span class="glyphicon glyphicon-edit" ></span> Edit Purpose</a>
                    <a type="button" class="btn btn-md btn-default" style="margin:10px;" href="/edit-subsetfeature/{{repo}}"><span class="glyphicon glyphicon-edit"></span> Edit Statistics</a>
                    <a type="button" class="btn btn-md btn-default" style="margin:10px;" href="/new-keywords/{{repo}}/1"><span class="glyphicon glyphicon-edit"></span> Edit Keywords</a>
                  </div>
                </div>
            </div>
        </div>
        
    {% endfor %}

  </div> 
</div>

<script type="text/javascript">
   

</script>
{% endblock %}
